:root {
  --pr-color1: #4caf4f;
  --pr-color2: #ffffff;
  --pr-color3: #abbed1;
  --pr-color4: #000000;
  --pr-color5: #c4c4c4;
  --pr-color6: #2b313a;
  --pr-color7: #6c7581;
  --pr-color8: #abbed1;
  --pr-color9: #edf7ed;
  --pr-color10: #263238;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--pr-color2);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "DM Sans", sans-serif;
}

/* Navbar Style */
.navbar {
  display: flex;
  padding: 18px 24px; /* Adjusted padding for more spacing */
  align-items: center;
  background-color: var(--pr-color2);
  justify-content: space-between; /* Evenly distribute space between elements */
}

.navbar-brand {
  font-weight: 700;
  color: var(--pr-color6);
  font-size: 24px; /* Slightly smaller font size */
  line-height: 150%;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 8px;
}

.navbar form {
  flex-grow: 1; /* Allows the search bar to grow */
  max-width: 400px; /* Limits the maximum width */
  margin-right: 16px; /* Space between search and button */
}

.navbar input[type="search"] {
  border-radius: 8px;
  padding: 10px 16px;
  border: 1px solid var(--pr-color3);
}

.btn-tambahData {
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  color: var(--pr-color2);
  background-color: var(--pr-color1);
  margin-right: 16px; /* Space between button and user icon */
}

.navbar img {
  width: 40px; /* Adjusted icon size */
  height: 40px;
  border-radius: 50%;
}
