:root {
  --pr-color1: #4caf50;
  --pr-color2: #ffffff;
  --pr-color3: #abbed1;
  --pr-color4: #000000;
  --pr-color5: #c4c4c4;
  --pr-color6: #2b313a;
  --pr-color7: #6c7581;
  --pr-color8: #abbed1;
  --pr-color9: #edf7ed;
  --pr-color10: #263238;
  --pr-colorB: #89939e;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--pr-color2);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "DM Sans", sans-serif;
}

.navbar-brand {
  font-weight: 700;
  color: var(--pr-color6);
  font-size: 28px;
  line-height: 150%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.navbar-brand img {
  margin-right: 8px;
}

.judul {
  color: var(--Secondary-Shade-40, #171e22);
  font-family: "DM Sans";
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 81px */
  letter-spacing: 1.08px;
}

.bg-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-holder::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text-white {
  color: var(--pr-color2) !important;
}

h1.fw-bold {
  font-size: 1.75rem;
  color: var(--pr-color10);
}

h2.fw-bold {
  font-size: 2rem;
}

form .btn {
  font-size: 1rem;
}

form label {
  font-weight: 600;
  color: var(--pr-color10);
}

.btn-success {
  width: 564px;
  height: 62px;
}

.form-control {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid var(--pr-color5);
}

.btn-outline-dark {
  width: 564px;
  height: 62px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--pr-color4);
  border-color: var(--pr-colorB);
}

.btn-outline-dark:hover {
  background-color: var(--pr-color4);
  color: var(--pr-color2);
}

.form-check-input:checked {
  background-color: var(--pr-color1);
  border-color: var(--pr-color1);
}
